<mat-form-field >
    <mat-label  >Choose a date</mat-label>
    <input
      
      type="text"
      [formControl]="control"
      matInput
      [matDatepicker]="picker" 
      [class.is-invalid]="control.touched && control.invalid"
      [max]="maxDate"
      >
      <div class="invalid-feedback" *ngIf="control.errors?.['required']">
      {{label}} is required
      </div>
    <mat-hint >MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle  matIconSuffix [for]="picker">
      <mat-icon  matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker  style="height: 5vh;" #picker></mat-datepicker>
  </mat-form-field>