<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand text-primary"routerLink="/" routerLinkActive="active">Is my dog Hot?</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0" >
         <ng-container *ngIf="accountService.currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>
        </ng-container>
        </ul>
                

        <div class="btn-group" *ngIf="accountService.currentUser$ | async" role="group" aria-label="Basic outlined example">
          <button type="button" class=" ml-2 btn btn-outline-primary">Edit Profile</button>
          <button type="button" (click)="logout()" class="btn btn-outline-primary">Logout</button>
        </div>

        <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
          <input 
          name="username"
          [(ngModel)]="model.username"
          class="form-control me-2" 
          type="text" 
          placeholder="Username">

          <input 
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2"
          type="password" 
          placeholder="Password">

          <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
  </nav>
