<div class="text-center mt-3">
    <h2>{{title}}</h2>
</div>

<div class="container mt-3">
    <div class="d-flex">
        <div class="btn-group" name="predicate">
            <button class="btn btn-primary" #m value="liked" name="Members I like" (click)="forTitle(m.name, m.value)">Members I like</button>
            <button class="btn btn-primary" #u value="likedBy" name="Members who like me"  (click)="forTitle(u.name, u.value)">Members who like me</button>

        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2" *ngFor="let member of members">
            <app-member-card [member]="member"></app-member-card>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">

    <ngb-pagination
     [collectionSize]="pagination.totalItems"
     [pageSize]="pagination.itemsPerPage"
     [maxSize]="10"
     (pageChange)="pageChanged($event)"
     [(page)]="pagination.currentPage"
     [boundaryLinks]="true" />

</div>